<div class="container">
  <div class="row">
    <div class="col-md-6 col-sm-6 col-md-offset-3 col-sm-offset-3 logregbox">
      <!-- Nav tabs -->
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active">
          <a href="#register" aria-controls="register" role="tab" data-toggle="tab">Register</a>
        </li>
        <li role="presentation">
          <a href="#login" aria-controls="login" role="tab" data-toggle="tab">Login</a>
        </li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="register">
          <app-register></app-register>
        </div>
        <div role="tabpanel" class="tab-pane" id="login">
          <app-login></app-login>
        </div>
      </div>
    </div>
  </div>
</div>
