<div class="container">
  <div class="row">
    <div class="col-md-3 col-sm-3 col-md-offset-4 col-sm-offset-4">
      <h1>Name: {{food.name}}</h1>
      <h2>Price: {{food.price}}</h2>
      <h2>Quantity: {{food.quantity}}</h2>
    </div>
  </div>
  <div class="row">
    <button class="cent">
      <a [routerLink]="['/food', food._id, 'update']">Update</a>
    </button>
    <button class="cent">
      <a [routerLink]="['/food', food._id, 'delete']">Delete</a>
    </button>
    <button class="cent">
      <a [routerLink]="['/foods']">Home</a>
    </button>
  </div>
  <div class="row">
    <router-outlet></router-outlet>
  </div>
</div>

