* {
  font-family: Arial, Helvetica, sans-serif;
}

#container {
  border: 1px solid black;
  width: 800px;
}

h1 {
  text-align: center;
}

img {
  width: 100%;
}

.weather_display {
  display: inline-block;
  width: 300px;
  margin: 10px 45px;
  vertical-align: top;
}
